body {
	font-family:'Open Sans', helvetica, arial, sans-serif;
}

.cms-page {
	.outer-container > .container {
		margin:50px auto;
	}
}

p {
	font-weight:400;
	font-size:1.1em;
	color:@c-grey;
	margin:0;
	a {
		color:@c-link_main;
		&:hover {
			color:@c-link_hover;
		}
	}
}

.btn-default {
	background-color:@c-light;
	&:hover {
		background-color:@c-light_second;
	}
}
.btn-primary {
	background-color:@c-blue;
	color:@c-grey;
	border:@c-blue-dark;
	&:hover {
		color:@c-grey;
		background-color:@c-blue-dark;
	}
}
.btn-alert {
	background-color:@c-red;
	color:@c-light;
	border:@c-red-dark;
	&:hover {
		color:@c-light;
		background-color:@c-red-dark;
		border:@c-red-dark2;
	}
}

/*----------------- 
Single Post & Page
-----------------*/
.page-header {
	padding:80px 0 8px;
	margin:0 0 5px 0;
	background:url(img/landing-header-bg-repeater.jpg) center center repeat;
	border-bottom:solid 1px @c-blue-dark;
	h1 {
		color:@c-white;
		font-size:3.5em;
		font-weight:700;
		margin:0;
	}	
	&.post {
		border-bottom:solid 10px @c-blue-dark;
		h1 {
			font-size:3.0em;
		}
	}
}

.page-content {

}
